.header_pets {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    position: fixed;
    background: #FFFFFF;
}

.header_pets_mobile {
    display: none;
}

.logo_title_pets, .navigation__link_pets {
    color: #545454;
}

.subtitle_pets, .navigation__link_active_pets {
    color: #292929;
}

@include media-tablet {
    .header_pets_wrapper {
        width: 708px;
    }
}

@include media-mobile {
    .header_pets {
        display: none;
    }
    .header_pets_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        height: 120px;
        margin: 0 auto;
    }
}