@include media-mobile {
    .pets_high {
        height: 1700px;
        padding-top: 0px;
    }
    .layout-4-column_mobile {
        width: 375px;
    }
    .card__pets_mobile {
        display: none;
    }
    .card {
        margin: auto;
    }
    .pets_arrows {
        padding-top: 12px;
    }
}