.donation {
    height: 462px;
    background: #F6F6F6;
    padding-top: 80px;
}

.donation_main {
    width: 915px;
    height: 282px;
    margin: auto;
    display: flex;
    .donation_dog_mobile {
        display: none;
    }
}

.donation_content {
    margin-left: 30px;
}

.donation_heading {
    @include heading;
    width: 300px;
    margin-bottom: 20px;
}

.donation_subheading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;

    margin-bottom: 20px;
}

.donation_info {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;

    width: 380px;
}

@include media-tablet {
    .donation {
        padding-top: 0px;
        height: 783px;
    }
    .donation_main {
        width: 505px;
        height: 683px;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .donation_content {
        margin-left: 0px;
        width: 380px;
        margin: 0 auto;
    }
    .donation_heading {
        padding-top: 80px;
    }
}

@include media-mobile {
    .donation {
        width: 100%;
        height: 605px;
        padding-top: 0px;
        margin: 0 auto;
    }
    .donation_main {
        width: 400px;
        height: 565px;
        .donation_dog_mobile {
            display: inline-flex;
            padding-top: 42px;
            //margin-bottom: 42px;
        }
        .donation_dog {
            display: none;
        }
    }
    .donation_content {
        width: 400px;
    }
    .donation_heading {
        padding-top: 42px;
        font-size: 30px;
        width: 270px;
        margin: 0 auto;
        text-align: center;
    }
    .donation_subheading {
        width: 400px;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .donation_button {
        margin: 0 auto 20px;
    }
    .donation_info {
        width: 350px;
        margin: 0 auto;
        text-align: center;
    }
}