.footer {
    background: $color-background-footer;
    height: 350px;
}

.footer_content {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.contacts, .locations {
    margin-top: 16px;
}

.footer__title {
    @include footer_title;
    width: 280px;
    margin-bottom: 34px;
}

.footer__title_down {
    margin-bottom: 40px; 
}

.mail, .phone, .boston, .london {
    display: flex;
    align-items: center;
}

.mail {
    margin-bottom: 40px;
}

.boston {
    margin-bottom: 32px;
}

.email, .phone_number, .boston_loc, .london_loc {
    @include footer_text;
    margin-left: 20px;
}

.boston_loc, .london_loc {
    width: 260px;
}

.footer_puppy_mobile {
    display: none;
}

@include media-tablet {
    .footer {
        width: 768px;
        height: 640px;
    }
    .footer_content {
        padding-top: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contacts, .locations {
        margin-top: 30px;
        margin-bottom: 65px;
    }
    .contacts {
        margin-right: 60px;
    }
    .footer_puppy_mobile {
        display: none;
    }
}

@include media-mobile {
    .footer {
        width: 100%;
        height: 864px;
    }
    .contacts, .locations {
        margin: 0 0 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__title {
        width: 350px;
        text-align: center;
        margin-bottom: 40px;
    }
    .footer__title_down {
        padding-top: 30px;
    }
    .boston {
        margin-bottom: 40px;
    }
    .footer_puppy {
        display: none;
    }
    .footer_puppy_mobile {
        display: block;
    }
}