$color-background-start-screen: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
$color-background-white: #FFFFFF;
$color-background-gray: #F6F6F6;
$color-background-footer: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
$color-heading: #FFFFFF;
$color-header-link: #CDCDCD;